<layout name="layout" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">分类名称：</td>
                <td>
                    <input  type="text" name="cat_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">父级分类：</td>
                <td>
                    <select name="pid" id="">
                        <option value="0">请选择</option>
                        <?php foreach($cat_data as $k => $v):?>
                            <option value="<?php echo $v['cat_id'];?>">
                                <?php echo str_repeat('---/',$v['level']).$v['cat_name'];?>
                            </option>
                        <?php endforeach;?>
                    </select>
                    <span>   * 默认为顶级分类</span>
                </td>
            </tr>
            <tr>
                <td class="label">是否推荐到首页楼层：</td>
                <td>
                    <input type="radio" name="is_floor" value="是">是
                    <input type="radio" name="is_floor" value="否">否
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
</script>