<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="cat_id" value="<?php echo $data['cat_id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">分类名称：</td>
                <td>
                    <input  type="text" name="cat_name" value="<?php echo $data['cat_name']; ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">父级分类：</td>
                <td>
                    <select name="pid" id="">
                    <option value="0">顶级分类</option>
                    <?php foreach($cat_data as $k => $v):?>
                        <?php if( !in_array($v['cat_id'],$not_cat_ids)  && $v['cat_id'] != $data['cat_id'] ):?>
                             <?php
                                $selected = '';
                                if($v['cat_id'] == $data['pid']){
                                    $selected = 'selected="selected"';
                                }
                            ?>

                            <option <?php echo $selected;?> value="<?php echo $v['cat_id'];?>">
                                <?php echo str_repeat('---/',$v['level']).$v['cat_name'];?>
                            </option>
                        <?php endif;?>
                    <?php endforeach;?>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">是否推荐到首页楼层：</td>
                <td>
                    <input type="radio" name="is_floor" value="是" <?php if($data['is_floor']=='是'){echo 'checked="checked"';}?>/>是
                    <input type="radio" name="is_floor" value="否" <?php if($data['is_floor']=='否'){echo 'checked="checked"';}?>/>否
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
</script>