<layout name="layout" />

<!-- 列表 -->
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
            <th >分类名称</th>
            <th >父级id</th>
            <th >是否推荐到楼层</th>
			<th width="60">操作</th>
        </tr>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
				<td><?php echo str_repeat('----------/',$v['level']).$v['cat_name']; ?></td>
				<td><?php echo $v['pid']; ?></td>
				<td><?php echo $v['is_floor']; ?></td>
		        <td align="center">
		        	<a href="<?php echo U('edit?cat_id='.$v['cat_id'].'&p='.I('get.p')); ?>" title="编辑">编辑</a> |
	                <a href="<?php echo U('delete?cat_id='.$v['cat_id'].'&p='.I('get.p')); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
		        </td>
	        </tr>
        <?php endforeach; ?>
	</table>
</div>

<script>
</script>
<script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/Js/tron.js"></script>