<layout name="layout" />

<!-- 搜索 -->
<div class="form-div search_form_div">
    <form action="__ACTION__" method="GET" name="search_form">
		<p>
			管理员名称：
	   		<input type="text" name="admin_name" size="30" value="<?php echo I('get.admin_name'); ?>" />
		</p>
		<p><input type="submit" value=" 搜索 " class="button" /></p>
    </form>
</div>
<!-- 列表 -->
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
            <th >管理员名称</th>
            <th >密码</th>
			<th >角色列表</th>
			<th width="60">操作</th>
        </tr>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
				<td><?php echo $v['admin_name']; ?></td>
				<td><?php echo $v['password']; ?></td>
				<?php if($v['admin_id'] == 0):?>
					<td>超级管理员</td>
				<?php else:?>
					<td><?php echo $v['role_name']; ?></td>
		       	<?php endif;?>
		         <td align="center">
		        	<a href="<?php echo U('edit?admin_id='.$v['admin_id'].'&p='.I('get.p')); ?>" title="编辑">编辑</a>
						<?php if($v['admin_id'] != 0):?>
						| <a href="<?php echo U('delete?admin_id='.$v['admin_id'].'&p='.I('get.p')); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a>
						<?php endif;?>
		        </td>
	        </tr>
        <?php endforeach; ?> 
		<?php if(preg_match('/\d/', $page)): ?>  
        </table>
        <table id="page-table"><tr><td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
	</table>
</div>

<script>
</script>
<script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/Js/tron.js"></script>