<!-- 头部 start -->
<div class="header w1210 bc mt15">
    <!-- 头部上半部分 start 包括 logo、搜索、用户中心和购物车结算 -->
    <div class="logo w1210">
        <h1 class="fl"><a href="<?php echo U('/');?>"><img src="__PUBLIC__/Home/Images/logo.png" alt="京西商城"></a></h1>
        <!-- 头部搜索 start -->
        <div class="search fl">
            <div class="search_form">
                <div class="form_left fl"></div>
                <form action="" name="serarch" method="get" class="fl">
                    <input type="text" name="key" id="key" class="txt" value="<?php echo isset($_GET['key'])?$_GET['key']:'请输入商品关键字';?>" />
                    <input onclick="location.href='<?php echo U('List/keyList','',FALSE);?>/key/'+$('#key').val()" type="button" class="btn" value="搜索"/>

                    <script>
//                        $('input[name="key"] ~ a').click(function () {
//                            var key = $('input[name="key"]').val();
//                            $(this).attr('href','<?php //echo U('List/keyList','',FALSE);?>///key/'+key);
//                        });
                        $('#key').keydown(function (event) {
                            if(event.keyCode == 13){
                                event.preventDefault();
                                window.location.href = '<?php echo U('List/keyList','',FALSE);?>/key/'+$('#key').val();
                            }
                        });
                    </script>
                </form>
                <div class="form_right fl"></div>
            </div>

            <div style="clear:both;"></div>

            <div class="hot_search">
                <strong>热门搜索:</strong>
                <a href="">D-Link无线路由</a>
                <a href="">休闲男鞋</a>
                <a href="">TCL空调</a>
                <a href="">耐克篮球鞋</a>
            </div>
        </div>
        <!-- 头部搜索 end -->

        <!-- 用户中心 start-->
        <div class="user fl">
            <dl>
                <dt>
                    <em></em>
                    <a href="">用户中心</a>
                    <b></b>
                </dt>
                <dd>
                    <div class="prompt">
                        您好，请<a href="">登录</a>
                    </div>
                    <div class="uclist mt10">
                        <ul class="list1 fl">
                            <li><a href="">用户信息></a></li>
                            <li><a href="">我的订单></a></li>
                            <li><a href="">收货地址></a></li>
                            <li><a href="">我的收藏></a></li>
                        </ul>

                        <ul class="fl">
                            <li><a href="">我的留言></a></li>
                            <li><a href="">我的红包></a></li>
                            <li><a href="">我的评论></a></li>
                            <li><a href="">资金管理></a></li>
                        </ul>

                    </div>
                    <div style="clear:both;"></div>
                    <div class="viewlist mt10">
                        <h3>最近浏览的商品：</h3>
                        <ul>
                            <li><a href=""><img src="__PUBLIC__/Home/Images/view_list1.jpg" alt="" /></a></li>
                            <li><a href=""><img src="__PUBLIC__/Home/Images/view_list2.jpg" alt="" /></a></li>
                            <li><a href=""><img src="__PUBLIC__/Home/Images/view_list3.jpg" alt="" /></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <!-- 用户中心 end-->

        <!-- 购物车 start -->
        <div class="cart fl">
            <dl>
                <dt id="getCart">
                    <a href="<?php echo U('Cart/lst');?>">去购物车结算</a>
                    <b></b>
                </dt>
                <dd>
                    <div class="prompt" id="cart">
                        <img src="__PUBLIC__/Home/Images/loading.gif" width="100%" height="100%" alt="">
                    </div>
                </dd>
            </dl>
        </div>
        <!-- 购物车 end -->
    </div>
    <!-- 头部上半部分 end -->

    <div style="clear:both;"></div>

    <!-- 导航条部分 start -->
    <div class="nav w1210 bc mt10">
        <!--  商品分类部分 start-->
        <div class="category fl <?php if($index== '0'){ echo 'cat1';}?>"> <!-- 非首页，需要添加cat1类 -->
            <div class="cat_hd <?php if($index== '0'){ echo 'off';}?>" >  <!-- 注意，首页在此div上只需要添加cat_hd类，非首页，默认收缩分类时添加上off类，鼠标滑过时展开菜单则将off类换成on类 -->
                <h2>全部商品分类</h2>
                <em></em>
            </div>

            <div class="cat_bd <?php if($index== '0'){ echo 'none';}?>">
            <?php foreach($nav_data as $k => $v):?>
                <?php if($k <= 12):?>
                <div class="cat if($k==0){echo 'item1';}">
                    <h3><a href="<?php echo U('List/catList',array('cat_id'=>$v['cat_id']),FALSE);?>"><?php echo $v['cat_name'];?></a> <b></b></h3>
                    <div class="cat_detail">
                        <?php foreach($v['child'] as $k1 => $v1):?>
                            <dl class="dl_1st">
                            <dt><a href="<?php echo U('List/catList',array('cat_id'=>$v1['cat_id']),FALSE);?>"><?php echo $v1['cat_name'];?></a></dt>
                            <dd>
                                <?php foreach($v1['child'] as $k2=>$v2):?>
                                    <a href="<?php echo U('List/catList',array('cat_id'=>$v2['cat_id']),FALSE);?>"><?php echo $v2['cat_name'];?></a>
                                <?php endforeach;?>
                            </dd>
                        </dl>
                        <?php endforeach;?>
                    </div>
                </div>
                <?php endif;?>
            <?php endforeach;?>


            </div>

        </div>
        <!--  商品分类部分 end-->

        <div class="navitems fl">
            <ul class="fl">
                <li class="current"><a href="">首页</a></li>
                <li><a href="">电脑频道</a></li>
                <li><a href="">家用电器</a></li>
                <li><a href="">品牌大全</a></li>
                <li><a href="">团购</a></li>
                <li><a href="">积分商城</a></li>
                <li><a href="">夺宝奇兵</a></li>
            </ul>
            <div class="right_corner fl"></div>
        </div>
    </div>
    <!-- 导航条部分 end -->
</div>
<!-- 头部 end-->

<div style="clear:both;"></div>
<script>
    <?php $img_config = C('IMAGE_CONFIG');?>
    var viewPath = '<?php echo $img_config['viewPath'];?>';
    /***********************ajax获得购物车数据*************************/
    var cartDiv = $('#cart');
    $.ajax({
        type:'GET',
        url:'<?php echo U('Cart/ajaxgetCart');?>',
        dataType:'json',
        success:function (data) {
            if(data == ''){
                var html ='购物车中还没有商品，赶紧选购吧！';
            }else{
                var html ='<table width="100%">';
                var n = 0;
                $.each(data,function (k,v) {
                    n += v.xiaoji;
                    html += '<tr>';
                    html += '<td><img src="'+viewPath+v.sm_goods_img+'"></td>';
                    html += '<td><span style="font-size: 15px;">'+v.goods_name+'</span</td>';
                    html += '<td>&nbsp;&nbsp;&nbsp;<td/>';
                    html += '<td>￥'+v.goumai_price+'元&nbsp;*&nbsp;'+v.shop_number+'</td>';
                    html += '</tr>';
                })
                html += '<td></td> <td><span style="font-size: 18px;">合计:￥'+n+'元</span></td> <td></td> <td></td> <td ><a href="<?php echo U('Cart/lst');?>">去结算>>></a></td>'
                html += '</table>';
            }
            cartDiv.html(html);
        }
    });
</script>